
.My_Portfolio{
    position: relative;
    margin-top: 90px;
    
}

.My_portfolio{

    color: #27DEBE;
}

.My_portfolio::before{
    content: " ";
    height: 2px;
    width: 60px;
    background-color: #27DEBE;
    position: absolute;
    top: 16px;
    left: 38%;
}

.portfolioWrappper::before{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #27DEBE;
    position: absolute;
    top: 27px;
    left: 35%;
}

.My_portfolio::after{
    content: " ";
    height: 2px;
    width: 60px;
    background-color: #27DEBE;
    position: absolute;
    top: 16px;
    left: 58%;
}

.portfolioWrappper::after{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #27DEBE;
    position: absolute;
    top: 27px;
    left: 58%;
}

.container {
    // background-color: red;
    display: flex;
    flex-wrap: wrap;

.box{
    // background-color: #27DEBE;
    margin: 10px;
    height: 300px;
    width: 31%;
    overflow: hidden;
    border-radius: .9rem;

    background-color: rgb(255, 255, 255);
    

    img{
        // object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 15px 5px;
        cursor: pointer;

   
        
    }
    img:hover{
        transition: all 0.5s ease-in-out;
        // transform: rotate(90deg);
        scale: 1.1;
    }

    .siteTitle{
        
        background-color: red;
        z-index: 4;
        position: relative;
        h1{
            font-size: 20px;
            position: absolute;
            top: 230px;
            right: 90px;
            z-index: 10 !important;
            background-color: #d5e6e3;
            padding: 10px;
        border-radius: 0.6rem;

            
        }
    }

}

}

.footerh1{
    font-size: 25px;
}