

.HeroSection{
    color: red;
    height: 100%;
    width: 100%;
    padding: 0px 6%;
    
}

.row{
    margin: 10% 0px;

    .leftDiv{
        // background-color: red;
       
        img{
            // background-color: red;
            height: 65%;
            width: 100%;
            object-fit: contain;
        }
        
    }
}