
@import "../../Common/Common.scss";

header{
    position: sticky;
    top: 0px;
    z-index: 10;
    // background-color: $primary-color ;
    // background: linear-gradient(106.37deg,
    // #ffe1bc 29.63%,
    // #ffcfd1 51.55%,
    // #f3c6f1 90.85%);
    // background:  linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);;
    background-color: rgb(126, 225, 167);


    nav{
        margin: 0% 5%;

        .mainLogo{
            font-size: 2rem;
            font-weight: 600;
            color: $font-primary;
            text-decoration: none;
        }
        .mainLogo :hover{
           color: $secondary-color;
        }
    }
}

.titlecolor{
    color:#ffffff;
}

.title{
    font-size: 2rem;
}

.active{
    color:rgb(100, 102, 174)!important;
}

nav ul{
    //   background-color: red;
      li{
        padding: 0px 30px ;
        font-size: 1.2rem;
        .sub-nav-item{
            color: $font-primary;
            text-decoration: none;
        }
        .sub-nav-item:hover{
            color: rgb(100, 102, 174);
           
        }
      } 
}