$primary-color:#10ab90;
$secondary-color:#10bb90;
$font-primary:#ffffff;
// $font-secondary:#79b8f3;




// .search-bar{
//     width: 50%;
//     display: flex;
//     justify-content: center;

//     form {
//         display: flex;
//         justify-content: center;
//         width: 70%;
//         button {
//             padding: 0px 8px;
//             font-size: 20px;
//             cursor: pointer;
//             height: 38px;
//         }
//     }